
/* Core Styles */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

main {
  padding: 2% 10%;
}

/* Homepage-section */
.list-items {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  width: auto;
  column-gap: 10%;
  row-gap: 5%;
}

.list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2%;
}

.list-item .meal-image {
  width: 200px;
  height: auto;
}

.list-item .meal-title {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
}

.list-item .meal-title h2 {
  margin: 0;
  padding: 0;
}

.list-item .meal-title .like-icon {
  color: #000;
}

.list-item .comments,
.list-item .reservations {
  background: #fff;
  padding: 2%;
  font-family: 'Lato', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* header */
header {
  display: flex;
  align-items: center;
  padding-left: 10%;
  margin-top: 2rem;
}

.navList {
  width: 100%;
  display: flex;
  gap: 2rem;
  margin-left: 20%;
  font-size: 20px;
}

/* Footer-section */
.footer-section {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  border: 2px solid #000;
  width: auto;
  font-size: 18px;
}

.footer-section p {
  margin-left: 3%;
}

.footer-section .bottom {
  display: flex;
  justify-content: flex-end;
  background: gray;
  border: 2px solid #000;
  padding-right: 2px;
}
