/* Core Styles */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
}

/* header */
header {
  display: flex;
  align-items: center;
  padding-left: 5%;
}

.navList {
  display: flex;
  gap: 2rem;
}